* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    top: 0;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Helvetica;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #d65b45;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        top: 100%;
        background-color: #333;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-links li {
        margin: 1rem 0;
    }

    .nav-links.active {
        transform: translateX(0%);
    }

    .hamburger {
        display: flex;
    }
}